<html>
	<head>
		<title><%= title %></title>
		<meta charset="utf-8">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="/css/bootstrap.min.css" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="/css/bootstrap-theme.min.css" crossorigin="anonymous">

		<link rel="stylesheet" href="/css/bootstrap-switch.css" crossorigin="anonymous">
	</head>

	<body>